:root {
    --fontS: 24px;
}
* {
    font-family: monospace;
}

nav {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    font-size: var(--fontS);
}

h1 {
    font-size: 32px;
}

ul {
    display: inherit;
    padding-left: 0;
    width: 100%;
    flex-direction: column;
    list-style-type: none;
}

ol {
    width: 100%;
    line-height: 1.5rem;
    align-items: baseline;
}

a,
a:after,
a:before,
a:focus {
    text-decoration: none;
    color: black;
}

a:hover {
    color:rgba(0, 0, 0, .12)
}


#timer-box {
    padding-right: 1.5rem;
}

#main-content {
    display: flex;
    margin: 0 25%;
    padding: 0 5% 0;
    flex-direction: column;
    align-items: center;
}

#answer-result {
    font-size: 18px;
    width: 100%;
    border-top: 1px solid gray;
}

#result-content {
    font-size: var(--fontS);
    margin-bottom: 3%;
}

#save-score-content {
    width: 100%;
}

#highscores-btn-content {
    display: inherit;
}

/* Button styling copied from https://getcssscan.com/css-buttons-examples */
button {
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px,rgba(0, 0, 0, .14) 0 2px 2px 0,rgba(0, 0, 0, .12) 0 1px 5px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: Roboto,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    min-height: 36px;
    justify-content: center;
    letter-spacing: .0892857em;
    line-height: normal;
    min-width: 64px;
    outline: none;
    overflow: visible;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    will-change: transform,opacity;
    margin: 2%;
  }
  
  button:hover {
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
  }
  
  button:disabled {
    background-color: rgba(0, 0, 0, .12);
    box-shadow: rgba(0, 0, 0, .2) 0 0 0 0, rgba(0, 0, 0, .14) 0 0 0 0, rgba(0, 0, 0, .12) 0 0 0 0;
    color: rgba(0, 0, 0, .37);
    cursor: default;
    pointer-events: none;
  }
  
  button:not(:disabled) {
    background-color: #6200ee;
  }
  
  button:focus {
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
  }
  
  button:active {
    box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
    background: #A46BF5;
  }
  